.homepage {
    font-size: 1.2rem;

    &__article {
        width: 70%;
        margin: 0 auto;
    }

    &__benefits-list {
        margin-bottom: 0;
        & > li {
            padding: 10px;
        }
    }

    &__carousel {
        overflow: hidden;
    }
}
