$row-background-color: #f8f9fa;
$warning-icon-color: #ffc14f;

.settings {
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__key {
        font-weight: bold;
    }

    &__row {
        padding: 0 10px;
        &:nth-child(odd) {
            background-color: rgba($row-background-color, 1);
        }
    }

    &__warning-icon {
        color: #{$warning-icon-color};
    }
}
