<div class="container settings">
    <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="settings__form"
    >
        <div formGroupName="editor">
            <div class="settings__row d-flex align-items-center">
                <div class="col-6 settings__key">Theme</div>
                <div class="col-6" ngbDropdown class="my-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark"
                        id="theme-dropdown"
                        ngbDropdownToggle
                    >
                        {{
                            this.formGroup.get(["editor", "theme"])?.value ??
                                "Select editor theme"
                        }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="theme-dropdown">
                        <button
                            ngbDropdownItem
                            *ngFor="let theme of editorSettings.themes"
                            (click)="onThemeSelect(theme)"
                            type="button"
                        >
                            {{ theme }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="settings__row d-flex align-items-center">
                <div class="col-6 settings__key">Font size</div>
                <div class="col-6" ngbDropdown class="my-2">
                    <input
                        type="number"
                        class="form-control"
                        [min]="this.minFontSize"
                        [max]="this.maxFontSize"
                        placeholder="Font size"
                        aria-label="fontsize"
                        aria-describedby="fontsize"
                        formControlName="fontSize"
                    />
                </div>
            </div>
            <div class="settings__row d-flex align-items-center">
                <div class="col-6 settings__key">Font family</div>
                <div class="col-6" ngbDropdown class="my-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark"
                        id="fontFamily-dropdown"
                        ngbDropdownToggle
                    >
                        {{
                            this.formGroup.get(["editor", "fontFamily"])
                                ?.value ?? "Select editor font family"
                        }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="theme-dropdown">
                        <button
                            ngbDropdownItem
                            *ngFor="
                                let fontFamily of editorSettings.fontFamilies
                            "
                            (click)="onFontFamilySelect(fontFamily)"
                            type="button"
                        >
                            {{ fontFamily }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h5 *ngIf="hasDiff" class="text-center my-2">
            <i
                class="settings__warning-icon fas fa-lg fa-exclamation-triangle mx-1"
            ></i>
            Changes has been made.
        </h5>
        <button
            type="submit"
            class="btn btn-light mt-3"
            [disabled]="isDisabled"
            [hover-classes]="'hover-btn-styles'"
        >
            Save
        </button>
    </form>
</div>
