<div class="snippet-list-item container-fluid p-3">
    <div class="snippet d-flex flex-column justify-content-between">
        <div class="snippet__content">
            <p class="snippet__name pb-1">
                {{ snippet.fullSnippetName }}
            </p>
            <h4 class="snippet__author p-0 pb-1 m-0" *ngIf="showAuthor">
                {{ snippet.createdBy.name }} {{ snippet.createdBy.surname }}
            </h4>
            <div class="snippet__short-info">
                <div class="snippet__language">
                    Language: {{ snippet.language }}
                </div>
                <div class="snippet__created-at">
                    Created: {{ snippet.createdAt | date }}
                </div>
                <div *ngIf="snippet.modifiedAt" class="snippet__modified-at">
                    Modified: {{ snippet.modifiedAt | date }}
                </div>
            </div>
            <div class="snippet__shortened-source d-flex my-2">
                <div class="app-ace-editor" #editor></div>
            </div>
        </div>
        <div
            class="snippet__footer d-flex justify-content-between align-items-center mx-2"
        >
            <div class="snippet__likes">
                <i class="fa-solid fa-heart"></i>
                <span>{{ snippet.likes }}</span>
            </div>
            <button type="button" (click)="onClick()" class="btn btn-success">
                Open
            </button>
        </div>
    </div>
</div>
