<div class="snippet-list-item container-fluid p-5">
    <div class="snippet d-flex flex-column justify-content-between">
        <div class="snippet__content">
            <div class="snippet__name">
                {{ snippet.fullSnippetName }}
            </div>
            <div class="snippet__short-info">
                <div class="snippet__created-at">
                    {{ snippet.createdAt | date }}
                </div>
                <div *ngIf="snippet.modifiedAt" class="snippet__modified-at">
                    {{ snippet.modifiedAt | date }}
                </div>
            </div>
        </div>
        <div class="snippet__open">
            <button (click)="onClick()">Open</button>
        </div>
    </div>
</div>
