<div class="snippet-modal snippet app-modal">
    <div class="app-modal__header">
        <div class="snippet__title d-flex justify-content-between">
            <div class="snippet__name">{{ snippetFullName }}</div>
            <button
                type="button"
                class="snippet__close btn-close"
                aria-label="Close"
                (click)="onClose()"
            ></button>
        </div>
    </div>
    <div class="snippet__content app-modal__content">
        <pre
            prism
            class="p-4 dark snippet__code"
            [code]="snippet.srcRaw"
            [language]="snippet.language"
        ></pre>
    </div>
    <div class="app-modal__footer d-flex justify-content-end">
        <button
            type="button"
            class="snippet__close btn btn-danger"
            (click)="onClose()"
        >
            Close
        </button>
    </div>
</div>
