<div class="snippet-modal snippet app-modal">
    <div class="app-modal__header">
        <div class="snippet__title d-flex justify-content-between">
            <h3 class="snippet__name">{{ snippetFullName }}</h3>
            <div class="d-flex align-items-center">
                <button
                    type="button"
                    class="btn btn-primary mx-2"
                    aria-label="Edit"
                    [style.color]="'white'"
                    [disabled]="isEdit"
                    (click)="onEdit()"
                >
                    Edit
                </button>
                <button
                    type="button"
                    class="snippet__close btn-close"
                    aria-label="Close"
                    (click)="onClose()"
                ></button>
            </div>
        </div>
    </div>
    <div class="snippet__content app-modal__content">
        <div class="snippet__code" #editor></div>
    </div>
    <ng-container
        *ngIf="isEdit; then editTemplate; else readonlyTemplate"
    ></ng-container>
    <ng-template #editTemplate>
        <div class="app-modal__footer d-flex justify-content-between">
            <button
                type="button"
                class="snippet__close btn btn-danger"
                (click)="onClose()"
            >
                Close
            </button>
            <h5 *ngIf="hasDiff">
                <i
                    class="snippet__warning-icon fas fa-lg fa-exclamation-triangle mx-1"
                ></i>
                Changes were made.
            </h5>
            <button type="button" class="btn btn-success" (click)="onSave()">
                Save
            </button>
        </div>
    </ng-template>
    <ng-template #readonlyTemplate>
        <div class="app-modal__footer d-flex justify-content-end">
            <button
                type="button"
                class="snippet__close btn btn-danger"
                (click)="onClose()"
            >
                Close
            </button>
        </div>
    </ng-template>
</div>
