$nav-bg-color: #000000;
$nav-hover-bg-color: rgba(255, 255, 255);
$nav-panel-border-radius: 100px;
$nav-border-color: #000000;

.footer {
    &__nav {
        position: fixed;
        bottom: -1px;
        background: #{$nav-bg-color};
        left: 0;
        right: 0;
        width: 30%;
        min-width: 400px;
        z-index: 2000;
        border-top-left-radius: #{$nav-panel-border-radius};
        border-top-right-radius: #{$nav-panel-border-radius};
        border: 2px solid #{$nav-border-color};
        transition: all 0.5s ease;

        &:hover {
            cursor: pointer;
            background-color: #{$nav-hover-bg-color};
            transition: all 0.5s ease;
        }
    }
}
