.snippets-list {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 0;

    &__item-readonly:first-child {
        border: 3px solid goldenrod;
        border-radius: 10px;
    }
}
