<div class="app-modal">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="app-modal__header">
            <div class="snippet__title d-flex justify-content-between">
                <h3>Create new snippet</h3>
                <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="onClose()"
                ></button>
            </div>
        </div>
        <div class="app-modal__content">
            <div ngbDropdown class="my-2">
                <button
                    type="button"
                    class="btn btn-outline-dark"
                    id="language-dropdown"
                    ngbDropdownToggle
                >
                    {{ dropdownTitle }}
                </button>
                <div ngbDropdownMenu aria-labelledby="language-dropdown">
                    <button
                        ngbDropdownItem
                        *ngFor="let language of snippetLanguages"
                        (click)="onLanguageSelect(language)"
                        type="button"
                    >
                        {{ language }}
                    </button>
                </div>
            </div>
            <div class="input-group mb-3 flex-column">
                <div class="d-flex">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{
                            'is-invalid': isControlInvalid(
                                formGroup.controls['name']
                            )
                        }"
                        placeholder="Snippet name"
                        aria-label="name"
                        aria-describedby="name"
                        formControlName="name"
                    />
                    <div class="input-group-prepend">
                        <ng-template
                            *ngIf="
                                selectedLanguage;
                                then selectedExtension;
                                else emptyExtension
                            "
                        >
                        </ng-template>
                    </div>
                </div>
                <div
                    *ngIf="isControlInvalid(formGroup.controls['name'])"
                    class="alert my-0 mx-2 p-0"
                    style="color: red"
                >
                    <div
                        *ngIf="formGroup.controls['name'].errors?.['required']"
                    >
                        Name is required.
                    </div>
                    <div
                        *ngIf="formGroup.controls['name'].errors?.['minlength']"
                    >
                        Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="formGroup.controls['name'].errors?.['pattern']">
                        Unsupported characters for snippet name.
                    </div>
                </div>
            </div>
            <div class="app-ace-editor" #editor></div>
        </div>
        <div class="app-modal__footer d-flex justify-content-between">
            <button type="button" class="btn btn-danger" (click)="onClose()">
                Close
            </button>
            <button
                type="submit"
                class="btn btn-secondary"
                [disabled]="isDisabled"
                [hover-classes]="'hover-btn-styles'"
            >
                Save
            </button>
        </div>
    </form>
</div>

<ng-template #selectedExtension>
    <span class="input-group-text" id="name"
        >.{{ extension }}</span
    ></ng-template
>
<ng-template #emptyExtension>
    <span class="input-group-text" id="name">.extension</span>
</ng-template>
