<div class="profile-card" *ngIf="user$ | async as user">
    <div class="profile-card__content">
        <div class="profile-card__info text-center">
            <div
                class="d-flex profile-card__image-container flex-column align-items-center"
            >
                <img
                    class="profile-card__image"
                    src="https://picsum.photos/id/100/1500/500"
                />
                <div class="profile-card__title">
                    <div class="profile-card__fullname">
                        {{ user.name }} {{ user.surname }}
                    </div>
                    <div *ngIf="user.position" class="profile-card__position">
                        {{ user.position }}
                    </div>
                </div>
            </div>
            <div class="profile-card__summary">
                <app-profile-summary></app-profile-summary>
            </div>
            <ng-container *ngIf="snippets$ | async as snippets">
                <app-snippets-list
                    *ngIf="snippets?.length"
                    [snippets]="snippets"
                ></app-snippets-list>
            </ng-container>
        </div>
    </div>
</div>
