<div class="profile-card py-3" *ngIf="user$ | async as user">
    <div class="profile-card__content">
        <div class="profile-card__info">
            <div
                class="d-flex profile-card__image-container flex-column align-items-center"
            >
                <img
                    class="profile-card__image"
                    src="https://picsum.photos/id/100/1500/500"
                />
                <div class="profile-card__title my-3">
                    <h2 class="profile-card__fullname">
                        {{ user.name }} {{ user.surname }}
                    </h2>
                    <h4 *ngIf="user.position" class="profile-card__position">
                        {{ user.position }}
                    </h4>
                </div>
                <div class="profile-card__settings mb-3">
                    <button
                        type="button"
                        class="btn btn-light"
                        (click)="onSettingsClick()"
                        [hover-classes]="'hover-btn-styles'"
                    >
                        Settings
                    </button>
                </div>
            </div>
            <div class="profile-card__summary">
                <app-profile-summary></app-profile-summary>
            </div>
            <ng-container *ngIf="snippets$ | async as snippets">
                <div class="my-3 d-flex justify-content-between">
                    <h3>Your snippets</h3>
                    <button
                        type="button"
                        class="btn btn-light"
                        [style.fontWeight]="'bold'"
                        (click)="onCreate()"
                        [hover-classes]="'hover-btn-styles'"
                    >
                        Create a new one
                    </button>
                </div>
                <app-snippets-list
                    *ngIf="snippets?.length"
                    [snippets]="snippets"
                    [readOnlySnippets]="false"
                    [showAuthor]="false"
                    [classes]="
                        'col-xl-3 col-lg-5 col-md-5 col-sm-12 col-xs-12 col-12'
                    "
                ></app-snippets-list>
            </ng-container>
        </div>
    </div>
</div>
