.profile-card {
    display: flex;
    justify-content: center;

    &__content {
        width: 60%;
    }

    &__image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}
